@contact_staff_padding_top: 10px;												// Default T1 : 10px;
@contact_staff_padding_right: 5px;												// Default T1 : 5px;
@contact_staff_padding_bottom: 30px;											// Default T1 : 60px;
@contact_staff_padding_left: 5px;												// Default T1 : 5px;

@contact_staff_img_border_color: #E6E6E6;
@contact_staff_details_background_color: transparent;							// Default T1 : transparent;


body.page-template-template-kontakt {
  h1
  {
    color:#00457C;

    .bredcrumb-delimiter {
      display:inline !important;
      color:#00457C;
    }

    .header-city {
      color:@colour_h;
    }

  }


  .facility-map {
	margin-bottom: 35px;
  }
}


.mapTabs 
{
    position:absolute;
    bottom:-49px;
    z-index: 10;

	li:first-of-type {
	  margin-left: (@grid-gutter-width-sub-xs / 2);
	  @media(min-width: @screen-xs){ margin-left:(@grid-gutter-width-xs / 2)}
	  @media(min-width: @screen-sm){ margin-left:(@grid-gutter-width-sm / 2)}
	  @media(min-width: @screen-md){ margin-left:(@grid-gutter-width-md / 2)}
	  @media(min-width: @screen-lg){ margin-left:(@grid-gutter-width-lg / 2)}
	}
	li a
	{
        @media(max-width: @screen-xs-max){
          padding: 8px 10px 8px 10px !important;
          font-size:12px;
        }
	    margin-left: 0px;
	    padding: 8px 20px 8px 20px !important;
		background: rgba(224, 224, 224, 0.11);
        color:#555;
	}
    li.active a {
      color: @colour_a;
      &:hover, &:focus, &:visited {
        color: @colour_a;
      }
    }
}

.tab-pane {
	display:none;
	&.active{ display:block; }
    h3 {font-size: 24px; font-weight:300; }
}




.PL_name{font-weight:bold;}
.PL_name{font-style:italic;}
.personal {
    padding-top: 10px;
    padding-bottom: 10px;
} 

.contactHeader {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}


.staff-list
{
	margin-left: -@contact_staff_padding_left;
	margin-right: -@contact_staff_padding_right;
    border-top: 1px solid @body_border_color;
    margin-top: 48px;
    padding-top: 48px;
	display: flex;
    flex-wrap: wrap;
	align-items: flex-start;

    .department {
      padding-right: @contact_staff_padding_right;
      padding-left: @contact_staff_padding_left;
    }
	
	.personal 
	{ 
		padding: @contact_staff_padding_top;
		padding-right: @contact_staff_padding_right;
		padding-bottom: @contact_staff_padding_bottom;
		padding-left: @contact_staff_padding_left;
		
		img 
		{ 
			display: block; 
			width: 100%; 
			margin-bottom: 10px;
			
			border: 1px solid @contact_staff_img_border_color;
		}

        .PL_telephone a
		{ 
			color: inherit;
			&:hover { text-decoration: underline; }
		}
		
		.PL_infosquare 
		{
		    background-color: @contact_staff_details_background_color;  
		    min-height: 65px;
		}

		.PL_description
		{
			margin-bottom: 25px;
		}
	}
}






/* karta */
.mapBottom 
{
    display: none;
    @media(min-width: @screen-md) {
      display:block;
    }

    height: 30px;

    margin-bottom: 20px;
    border-bottom: 1px solid @map_border_colour;
}


/*Kontakt */
.contactInfo 
{	
	@media(min-width:@screen-sm) and (max-width:@screen-md)
	{
		border: none;
	}          

    @media(min-width: @screen-md){
      padding-top: 20px;
    }
	a { color:inherit; text-decoration:none; }
	a:hover { text-decoration:underline; }
}

.wpcf7-form
{
    .LeadText {
       margin-bottom: 8px;
	  input, textarea
	  {
		width: 100%;
		height: 30px;
		border: 1px solid #cacaca;

		.gradient(#f4f3f3, #fdfefe, 'left-to-right');

		color: #666666;
		text-indent: 5px;
		@media(max-width:@screen-sm)
		{
		  text-indent: 1;
		}
	  }
	  select { color: #666; width: 100%; height: 30px; }
	  textarea { height:200px; }
    }

	.LeadMargin{
      position:relative;
	  .wpcf7-submit
	  {
		border: none;
		background: #e9e9e9;
		color: #666;
		height: 30px;
		margin-top: 10px;
        padding: 0 17px 0 15px;
	  }

	  .ajax-loader
	  {
		width:auto !important;
		position: absolute;
		left: 78px;
		top: 16px;
	  }
	}
	
	br { display: none; }

  	/*

    */
    span
    {
    	&.wpcf7-not-valid-tip
    	{
		  position: absolute;
		  top: 9%;
		  right: -7%;
		  z-index: 100;
		  background: rgba(245, 118, 118, 1);
		  border: 1px solid #EF5858;
		  padding: 2px;
		  width: auto;
		  color: rgb(250, 247, 247);
		  padding: 2px 5px;
		  border-radius: 12px;
	    }

	}

	div.wpcf7-validation-errors {
	  border: 1px solid #EF5858;
	  background-color: rgba(245, 118, 118, 1);
	  color: #fff;
	  margin: 12px 0;
	}

	div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng {
	  border: 1px solid #EF5858;
	  background-color: rgba(245, 118, 118, 1);
	  color: #fff;
	  margin: 12px 0;
	}

	div.wpcf7-mail-sent-ok {
	  border: 1px solid #46B35C;
	  background-color: rgba(61, 165, 98, 1);
	  color: #fff;
	  margin: 12px 0;
	}
}

body .subContent .wpcf7 form.wpcf7-form {

	.formpadding-top {
	  padding-top: 20px;
	}

  	.panel-primary{
	  border-color:@accent_colour;
	  .panel-heading {
		background-color: @accent_colour;
		border-color: @accent_colour;
		h3 { color:@navbar_menu_text_colour; }
	  }
	}

	.form-group {
	  position: relative;
	  span.wpcf7-form-control-wrap {
		position: static;
	  }
	  .wpcf7-not-valid-tip {
		top: -4px;
		right: 0;
	  }
	}
  	.panel-footer {
	  position: relative;
	  input {
		float:right;
		width: 50%;
		@media(min-width: @screen-sm){
		  width:33%;
		}

	  }
	}
}
.oppettiderfix
{margin-left:-25px;}