@xxs-width: 410px;
@small-pad: 5px;

.retailer-template{
  
  .no-padding-height{
    padding-top: 0;
    padding-bottom: 0;
  }

  .map-container{
    margin-bottom: 25px;
    padding-bottom: 25px;

    border-bottom: 1px solid @body_border_color;

    .search-retailer{

      margin-top: 15px;
      margin-bottom: 10px;

      .right{
        @media(min-width: 570px){
        float: right;
        }
      }

      .prod-cat{
        margin-right: 10px;
        display: inline-block;

        /*** custom checkboxes ***/
        label{font-weight: 400;}

        input[type=checkbox] { display:none; } /* to hide the checkbox itself */
        input[type=checkbox] + label:before {
          font-family: FontAwesome;
          display: inline-block;
        }

        input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
        input[type=checkbox] + label:before { letter-spacing: 7px; } /* space between checkbox and label */

        input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
        input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
      }
      
      .post-nmb{
        height: 26px;
        text-indent: 10px;
        width: 186px;
      }
      .submit{
        border-radius: 1px;
        height: 26px;
        width: 82px;
        line-height: 0;
      }
    }
  }
  .ret-container{
    @media(max-width: @screen-md){ padding-top: 0; }
  }
  .retailers{
    @media(max-width: @screen-md){
      border-bottom: 1px solid @body_border_color;
    }
    .hidden-small{
      @media(max-width: @xxs-width){
        display: none;
      }
    }

    .small-addrs{
      @media(max-width: @xxs-width){
        padding: 10px @small-pad 0;
      }
    }

    .fa{
      margin-left: 5px;
      @media(min-width: @xxs-width){
        display: none;
      }
    }

    .retailers-title{
      h2{
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: -18px;
      }
      .hittade{
        color: #b20838;
      }
      .typ{
        color: #00457c;
      }
    }
    .retailer{
      @media(min-width: @xxs-width){
        border-bottom: 1px solid @body_border_color;
        margin-bottom: 25px;
        padding-bottom: 25px;

        &:last-child{
          border-bottom: none;
        }
      }
      @media(max-width: @xxs-width){
        margin-bottom: 25px;
        border: 1px solid @body_border_color;
        border-top: none;
      }

      .adress{
        > br{
          @media(max-width: @xxs-width){display: none;}
        }
        .small-header{
          @media(max-width: @xxs-width){
            display: block;
            background-color: #00457c;
            color: #fff;
            padding: 5px 10px;
            border-radius: 3px 3px 0 0;
          }
        }
      }

      .contact{
        @media(max-width: @xxs-width){
          padding:0 (@small-pad+20) 10px;
        }
      }

      .adress, .contact{
        @media(max-width: @xxs-width){
          width: 100%;
        }
      }
    }
  }

  .subContent{
    #map{
      img{
        max-width: inherit;
      }
    }
  }
}