@bottom-margin-std:         10px;
@background-color:          #fff;


    
@import "bootstrap/bootstrap.less";
@import "mixins.less";
@import "custom.less";

@import "flexslider.less";
@import "flexslider-custom.less";

@import "templates/navbar.less";
@import "templates/header.less";
@import "templates/footer.less";
@import "templates/puffar.less";
@import "templates/social.less";
@import "templates/contact.less";
@import "templates/shop.less";

@import "page-templates/galleriet.less";
@import "page-templates/kontakt.less";
@import "page-templates/startsida.less";
@import "page-templates/nyheter.less";
@import "page-templates/undersida.less";
@import "page-templates/retailers.less";



/* ==========================================================================
   Base
   ========================================================================== */
html {margin-top: 0px !important;}

body 
{
    overflow-x:hidden;
    background-color: @body_bg_colour;
    & when (@body_bg_use_image = true)
	{
		background-image: url(@body_bg_image);
		background-size: @body_bg_image_size;
	    background-attachment: fixed;
	    background-position: center center;
	    background-repeat: @body_bg_image_repeat;
	}
	& when (@body_bg_use_gradient = true)
	{
		.gradient(@body_bg_colour_gradient_start, @body_bg_colour_gradient_stop, 'top-to-bottom');
	}
    
    font-family: @font-family-std;
    font-weight: 400;
    color: @body_text_colour;
    
    h1, h2, h3, h4, h5, h6 
	{ 
		margin-top: 0px;
		margin-left: -1px;
		font-family: @font-family-headline;
		color: @body_text_colour;
	}
	h1 
	{
		float: @body_h1_float;
        margin: @body_h1_margin;
        padding: @body_h1_padding;

        font-size: @body_h1_font_size;
        font-weight: @body_h1_font_weight;
        color: @body_h1_color;
        background: @body_h1_background_color;
        
        text-transform: @body_h1_text_transform;

        border-bottom: @body_h1_border_bottom;
        a {
          display:none;
          &:last-of-type { display: inline; }
          text-decoration: none !important;
          color:#00457C;
          &:hover,&:active, &:visited {  text-decoration: none !important; }
        }
        .bredcrumb-delimiter {
          display:none;
          &:last-of-type { display: inline; }
          color:#00457C;
        }

	}
	h2 
	{ 
		font-size: 24px;
		margin-bottom: 12px;
	}

    h3 { font-size: 18px; }
	
	
	a { color: @colour_a; }
	
	p, ul
	{
		float: @body_p_float;
        width: 100%;
	}

    .soliditet-aaa{
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid @body_border_color;
      margin-top: 20px;
    }

}


.relative { position: relative; }
.clear { clear: both; }
.no-padding { padding: 0; }


//==========================================================================
// WordPress Generated Classes
// See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
//==========================================================================
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
//==========================================================================

.container 
{
	& when (@container_use_box_shadow = true)
	{
		.box-shadow(@container_box_shadow);
	}
    background-color: @background-color;
    @media (max-width: @screen-sm) 
    { 
        -webkit-box-shadow:  none;
        box-shadow:  none;
    }

  &.mainText
  {

	@media(max-width: @screen-sm) { margin-bottom: 0; }
  }

  &.featured-image
  {
	& when (@feat_img_container_visible = false)
	{
	  display: none;
	}
	& when (@feat_img_container_visible = true)
	{
	  .image
	  {
		background: @feat_img_container_bg_color;
		& when (@feat_img_container_bg_use_image = true)
		{
		  background: url(@feat_img_container_bg_image);
		}
	  }
	}

	padding-top: @grid-gutter-width/2;
	padding-bottom: @feat_img_container_padding_top;

	img
	{
	  display: block;
	  margin: 0 auto;
	}
  }
}

// @deprecated remove marginFix when you update the news page template.
// -----------------------------------------------------------------------------
.marginFix
{ 
	padding: 0 (@grid-gutter-width / 2);
    font-family: @font-family-special;
    font-weight: 400;
    
	#map-canvas 
	{
		height: 180px;
		border: 1px solid contrast(@map_border_colour, darken(@map_border_colour, 50%), lighten(@map_border_colour, 50%));
		-webkit-border-radius: 5px;
		border-radius: 5px;
		@media (max-width: @screen-sm) 
		{
			height: 300px;
		}
	}
}
// -----------------------------------------------------------------------------


.subContent
{
	padding: 20px (@grid-gutter-width-sub-xs / 2) 10px (@grid-gutter-width-sub-xs / 2);
	@media(min-width: @screen-xs) { padding: 20px (@grid-gutter-width-xs / 2) 10px (@grid-gutter-width-xs / 2); }
	@media(min-width: @screen-sm) { padding: 20px (@grid-gutter-width-sm / 2) 20px (@grid-gutter-width-sm / 2) + @custom-gutter-offset; }
	@media(min-width: @screen-md) { padding: 20px (@grid-gutter-width-md / 2) 20px (@grid-gutter-width-md / 2) + @custom-gutter-offset; }
	@media(min-width: @screen-lg) { padding: 20px (@grid-gutter-width-lg / 2) 20px (@grid-gutter-width-lg / 2) + @custom-gutter-offset; }
	
	img { max-width: 100%; height: 100%; }
}

.subBorderLeft
{
	// Paddings.
	padding: 0 (@grid-gutter-width-sub-xs / 2) 0 (@grid-gutter-width-sub-xs / 2);
	@media(min-width: @screen-xs) { padding: 0 (@grid-gutter-width-xs / 2) 0 (@grid-gutter-width-xs / 2); }
	@media(min-width: @screen-sm) { padding: 0 (@grid-gutter-width-sm / 2) 0 (@grid-gutter-width-sm / 2); }
	@media(min-width: @screen-md) { padding: 0px (@grid-gutter-width-md / 2) 0 (@grid-gutter-width-md / 2); }
	@media(min-width: @screen-lg) { padding: 0px (@grid-gutter-width-lg / 2) 0 (@grid-gutter-width-lg / 2); }
	
	
	
	// Borders.
	@media(min-width: @screen-md) { border-left: 1px solid @body_border_color; }
}
.subBorderRight
{
	@media(min-width: @screen-md) { border-right: 1px solid @body_border_color; }
}


.sidebar-page-text {
	margin-top: 10px;
}