@contact_column_gutter: -(@grid-gutter-width-sub-xs / 2);
@contact_column_gutter_xs: -(@grid-gutter-width-xs / 2);
@contact_column_gutter_sm: -(@grid-gutter-width-sm / 2);
@contact_column_gutter_md: -(@grid-gutter-width-md / 2);
@contact_column_gutter_lg: -(@grid-gutter-width-lg / 2);



.contact-column
{
	margin-left: @contact_column_gutter;
	margin-right: @contact_column_gutter;
	@media (min-width: @screen-xs) 
	{ 
		margin-left: @contact_column_gutter_xs;
		margin-right: @contact_column_gutter_xs;
	}
	@media (min-width: @screen-sm) 
	{ 
		margin-left: @contact_column_gutter_sm;
		margin-right: @contact_column_gutter_sm;
	}
	@media (min-width: @screen-md) 
	{ 
		margin-left: @contact_column_gutter_md;
		margin-right: @contact_column_gutter_md;
	}
	@media (min-width: @screen-lg) 
	{ 
		margin-left: @contact_column_gutter_lg;
		margin-right: @contact_column_gutter_lg;
	}
	
	&>div
	{
		padding-left: abs(@contact_column_gutter);
		padding-right: abs(@contact_column_gutter);
		@media (min-width: @screen-xs) 
		{ 
			padding-left: abs(@contact_column_gutter_xs);
			padding-right: abs(@contact_column_gutter_xs);
		}
		@media (min-width: @screen-sm) 
		{ 
			padding-left: abs(@contact_column_gutter_sm);
			padding-right: abs(@contact_column_gutter_sm);
		}
		@media (min-width: @screen-md) 
		{ 
			padding-left: abs(@contact_column_gutter_md);
			padding-right: abs(@contact_column_gutter_md);
		}
		@media (min-width: @screen-lg) 
		{ 
			padding-left: abs(@contact_column_gutter_lg);
			padding-right: abs(@contact_column_gutter_lg);
		}
	}



  	.LeadText input.wpcf7-text:focus, .LeadText textarea { outline-color: @accent_colour; }

  	.LeadMargin input[type="submit"] {
	  &:focus { outline-color: @accent_colour; }
	}

}
