@header_show: true;																// Default T1 : true
@header_bg_use_image: false;													// Default T1 : false
@header_bg_use_gradient: false;													// Default T1 : false
@header_topinfo_use_text_shadow: false;											// Default T1 : false
@header_topinfo_center_vertically: true;										// Default T1 : true

@header_height: 142px;
@header_height_xs: @header_height;
@header_height_sm: @header_height_xs; 
@header_height_md: @header_height_sm;
@header_height_lg: @header_height_md;

@header_logo_height: 118px;
@header_logo_height_xs: 118px;
@header_logo_height_sm: 118px;
@header_logo_height_md: 118px;
@header_logo_height_lg: 118px;

@header_logo_margin_left: 0px;
@header_logo_margin_left_xs: 0px;
@header_logo_margin_left_sm: 5px;
@header_logo_margin_left_md: 4px;
@header_logo_margin_left_lg: 15px;

@header_logo_margin_right: 0px;
@header_logo_margin_right_xs: 0px;
@header_logo_margin_right_sm: 0px;
@header_logo_margin_right_md: 0px;
@header_logo_margin_right_lg: 0px;

@header_logo_mobile_padding: 0 (@grid-gutter-width-sub-xs / 2) 0 (@grid-gutter-width-sub-xs / 2);
@header_logo_mobile_padding_xs: 0 (@grid-gutter-width-xs / 2) 0 (@grid-gutter-width-xs / 2);
@header_logo_mobile_padding_sm: 0 (@grid-gutter-width-sm / 2) 0 (@grid-gutter-width-sm / 2);
@header_logo_mobile_padding_md: 0 (@grid-gutter-width-md / 2) 0 (@grid-gutter-width-md / 2);
@header_logo_mobile_padding_lg: 0 (@grid-gutter-width-lg / 2) 0 35px;

@header_logo_splash_float: right;

@header_logo_splash_margin_right: 0px;
@header_logo_splash_margin_right_xs: 0px;
@header_logo_splash_margin_right_sm: -45px;
@header_logo_splash_margin_right_md: -81px;
@header_logo_splash_margin_right_lg: -91px;

@header_bg_image: "../img/header_bg.jpg";
@header_bg_image_xs: @header_bg_image;
@header_bg_image_sm: @header_bg_image_xs;
@header_bg_image_md: @header_bg_image_sm;
@header_bg_image_lg: "../img/header_bg_lg.jpg";

@header_bg_colour: #FFF;
@header_bg_colour_gradient_start: @header_bg_colour;
@header_bg_colour_gradient_stop: #FFFFFF;

@header_topinfo_height: 34px;

// These regulate the padding of the top-info content. The top padding is only 
// relevant when the @header_topinfo_center_vertically is set to false. Otherwise
// The top padding is calculated based on the top-info height and the header height.
// 
// Please note that this setting always overrides the offset padding.
@header_topinfo_padding_top: 50px;
 
@header_topinfo_offset_padding: 0;												// Default T1 : 0
@header_topinfo_offset_padding_xs: 0;											// Default T1 : 0
@header_topinfo_offset_padding_sm: 0 15px 0 0;									// Default T1 : 0 15px 0 0
@header_topinfo_offset_padding_md: 0;											// Default T1 : 0
@header_topinfo_offset_padding_lg: 0;											// Default T1 : 0

// Rules for the top-info text.
@header_topinfo_text_font_family: @font-family-std;
@header_topinfo_text_font_size: 14px;
@header_topinfo_text_font_weight: 200;

@header_topinfo_text_align: left;												
@header_topinfo_text_colour: #FFFFFF;
@header_topinfo_text_shadow: 1px 1px 1px #000000;
@header_topinfo_a_colour: @header_topinfo_text_colour;


.top-header
{
	& when (@header_show = false) { display: none; }
	
	height: @header_height;
	@media (min-width: @screen-xs) { height: @header_height_xs; }
	@media (min-width: @screen-sm) { height: @header_height_sm; }
	@media (min-width: @screen-md) { height: @header_height_md; }
	@media (min-width: @screen-lg) { height: @header_height_lg; }
	
	background-color: @header_bg_colour;
	& when (@header_bg_use_image = true)
	{
		background-position: center bottom;
		background-image: url(@header_bg_image);
		@media (min-width: @screen-xs) { background-image: url(@header_bg_image_xs); }
		@media (min-width: @screen-sm) { background-image: url(@header_bg_image_sm); }
		@media (min-width: @screen-md) { background-image: url(@header_bg_image_md); }
		@media (min-width: @screen-lg) { background-image: url(@header_bg_image_lg); }
	}
	& when (@header_bg_use_gradient = true)
	{
		.gradient(@header_bg_colour_gradient_start, @header_bg_colour_gradient_stop);
	}
	
	.logo-mobile, .logo-splash
	{
		padding: @header_logo_mobile_padding;
        text-align: center; // Centrerar loggan på liten iphone
		@media (min-width: @screen-xs) { padding: @header_logo_mobile_padding_xs; text-align: center;  } // Width och align kan du ta bort ifall centrering är borta
		@media (min-width: @screen-sm) { padding: @header_logo_mobile_padding_sm; text-align: left;  } // Width och align kan du ta bort ifall centrering är borta
	}
	
	.logo-splash
	{
		float: @header_logo_splash_float;
		
		margin-right: @header_logo_splash_margin_right;
		@media (min-width: @screen-xs) { margin-right: @header_logo_splash_margin_right_xs; }
		@media (min-width: @screen-sm) { margin-right: @header_logo_splash_margin_right_sm; }
		@media (min-width: @screen-md) { margin-right: @header_logo_splash_margin_right_md; }
		@media (min-width: @screen-lg) { margin-right: @header_logo_splash_margin_right_lg; }
		
		img { float: right; }
	}
	
	.topLogo
	{
		max-height: @header_logo_height;
		margin-top: ((@header_height - @header_logo_height) / 2);
		margin-bottom: ((@header_height - @header_logo_height) / 2);
		margin-left: @header_logo_margin_left;
		margin-right: @header_logo_margin_right;

		@media (min-width: @screen-xs) 
		{
			max-height: @header_logo_height_xs;
			margin-top: ((@header_height_xs - @header_logo_height_xs) / 2);
		    margin-bottom: ((@header_height_xs - @header_logo_height_xs) / 2);
		    margin-left: @header_logo_margin_left_xs;
			margin-right: @header_logo_margin_right_xs;

		}
		@media (min-width: @screen-sm) 
		{
			max-height: @header_logo_height_sm;
			margin-top: ((@header_height_sm - @header_logo_height_sm) / 2);
		    margin-bottom: ((@header_height_sm - @header_logo_height_sm) / 2);
		    margin-left: @header_logo_margin_left_sm;
			margin-right: @header_logo_margin_right_sm;
		}
		@media (min-width: @screen-md) 
		{
			max-height: @header_logo_height_md;
			margin-top: ((@header_height_md - @header_logo_height_md) / 2);
		    margin-bottom: ((@header_height_md - @header_logo_height_md) / 2);
		    margin-left: @header_logo_margin_left_md;
			margin-right: @header_logo_margin_right_md;
		}
		@media (min-width: @screen-lg) 
		{
			max-height: @header_logo_height_lg;
			margin-top: ((@header_height_lg - @header_logo_height_lg) / 2);
		    margin-bottom: ((@header_height_lg - @header_logo_height_lg) / 2);
		    margin-left: @header_logo_margin_left_lg;
			margin-right: @header_logo_margin_right_lg;
		}
	}


    a.social-top {
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color:#fff;
      font-size:18px;
      margin-top:20px;

      transition: font-size 100ms linear;

      &:hover {
        font-size:20px;
      }

      &.issuu { background-color: #f56754; }
      &.pintrest { background-color: #cb211d; }
      &.instagram { background-color: #cd5959; }
      &.twitter { background-color: #56a3d9; }
      &.linkedin { background-color:#0077B5; }
      &.facebook {
        background-color: #3b5998;
        @media(min-width: @screen-lg){
          margin-right: 10px;
        }
      }

    }

    .woocommerce-product-search{
      position:relative;
      @media(min-width: @screen-lg){
        margin-right: 10px;
      }
      .search-field {
        margin-top:20px;
        height:30px;
        border:1px solid @body_border_color;
        padding-right:30px;
        padding-left:10px;
      }
      .search-button {
        display:block;
        position:absolute;
        right: 5px;
        bottom: 3px;
        cursor:pointer;
        cursor:hand;
        font-size: 18px;
        color:#999999;
        text-decoration: none;
        &:hover,&:active,&:visited {
          color:#999999;
          text-decoration: none;
        }
      }

    }



	.top-info 
	{   display: none;
		float: right !important; 
		padding: @header_topinfo_offset_padding;
		@media (min-width: @screen-xs) { padding: @header_topinfo_offset_padding_xs; }
		@media (min-width: @screen-sm) { padding: @header_topinfo_offset_padding_sm; }
		@media (min-width: @screen-md) { padding: @header_topinfo_offset_padding_md; }
		@media (min-width: @screen-lg) { padding: @header_topinfo_offset_padding_lg; }
		
		padding-top: @header_topinfo_padding_top;
		& when (@header_topinfo_center_vertically = true)
		{
			padding-top: ((@header_height - @header_topinfo_height) / 2);
			@media (min-width: @screen-xs) 
			{
				padding-top: ((@header_height_xs - @header_topinfo_height) / 2);
			}
			@media (min-width: @screen-sm) 
			{
				padding-top: ((@header_height_sm - @header_topinfo_height) / 2);
			}
			@media (min-width: @screen-md) 
			{
				padding-top: ((@header_height_md - @header_topinfo_height) / 2);
			}
			@media (min-width: @screen-lg) 
			{
				padding-top: ((@header_height_lg - @header_topinfo_height) / 2);
			}
		}
		
		font-family: @header_topinfo_text_font_family;
		font-weight: @header_topinfo_text_font_weight;
		font-size: @header_topinfo_text_font_size;
		
		text-align: @header_topinfo_text_align;
		color: @header_topinfo_text_colour;
		& when (@header_topinfo_use_text_shadow = true)
		{
			text-shadow: @header_topinfo_text_shadow;
		}
		
		.glyphicon { width: 15px; }
		
		a 
		{ 
			color: @header_topinfo_a_colour;
			&:hover { text-decoration: underline; }
		}
	}
}

.boka // Custombokningsknapp, socialbaren rök, måste implementeras igen
{
  width: 250px;
  margin-top: 30px;
  float: right;
  margin-right: 8px;
  @media (max-width: @screen-xs) { display: none; }
  @media (max-width: @screen-sm) { width: 219px; margin-top: 36px; float: right; margin-right: -16px; }
  @media (max-width: @screen-md) { margin-right: -11px; }

  }

.language-container {
    position: absolute;
    right: 8px;


    top: 13px;

    @media(max-width: @screen-xs-max) {
    	top: 17px;
    }

    @media(min-width: @screen-sm) and (max-width: @screen-sm-max){
      right: 17px;
      top: -27px;
    }

    @media(min-width: @screen-md){ right:18px; }
    @media(min-width: @screen-lg){ right:27px; }

    #lang_sel_list a, #lang_sel_list a:visited {
    	background: none;
    }
}