@navbar_menu_bg_use_gradient: false;
@navbar_menu_bg_use_image: false;
@navbar_menu_text_use_text_shadow: false;
@navbar_use_box_shadow: false;
@navbar_collapse_use_box_shadow: false;
@navbar_collapse_use_border: false;

// Navbar height settings.
@navbar_min_height: 40px;
@navbar_min_height_xs: 40px;
@navbar_min_height_sm: 40px;
@navbar_min_height_md: 40px;
@navbar_min_height_lg: 40px;

// Use these to offset the margins enforced by the gutter width, this applies to
// both the collapsed and non-collapsed navbar. If you wish to use the gutter 
// width just leave them at 0. Otherwise, use the @grid-gutter-width variable or
// some other custom value to make the desired offset.
@navbar_margin_left: 0; 
@navbar_margin_right: 0;

// This is the margin for the collapsed navbar.
@navbar_nav_margin: 0;

// The height and colour of the border below the navbar.
@navbar_bottom_border_height: 0px;												// Default T1 : 0px
@navbar_bottom_border_color: @body_border_color;								// Default T1 : @body_border_color

@navbar_box_shadow: inset 5px 5px 20px 0px rgba(0, 0, 0, 0.3);					// Default T1 : inset 5px 5px 20px 0px rgba(0, 0, 0, 0.5)
@navbar_collapse_box_shadow: inset 5px 5px 20px 0px rgba(0, 0, 0, 0.3);			// Default T1 : inset 5px 5px 20px 0px rgba(0, 0, 0, 0.5)
@navbar_collapse_border_colour: 1px solid #101010;

// Background image rules.
@navbar_menu_bg_image: "../img/navbar_bg.jpg";

// Background transition rules.
@navbar_menu_bg_colour_transition: true;
@navbar_menu_bg_colour_transition_speed: 400ms;

// The background colours of the menu.
@navbar_menu_bg_colour: @accent_colour;
@navbar_menu_bg_colour_hover: #FFFFFF;											// The background colours of the menu while hovering.
@navbar_menu_bg_colour_active: @navbar_menu_bg_colour_hover;					// The background colours of the active menu element.
@navbar_menu_bg_colour_active_hover: @navbar_menu_bg_colour_active;				// The background colours of the active menu element while hovering.
@navbar_menu_bg_colour_dropdown: @navbar_menu_bg_colour;						// The background colours of a dropdown menu.
@navbar_menu_bg_colour_dropdown_hover: @navbar_menu_bg_colour_active;			// The background colours of a dropdown menu while hovering.

// The gradient background colours of the menu.
@navbar_menu_bg_colour_gradient_direction: 'top-to-bottom';						// Default T1 : 'top-to-bottom'

@navbar_menu_bg_colour_gradient_start: @navbar_menu_bg_colour;
@navbar_menu_bg_colour_gradient_stop: #FFFFFF;

@navbar_menu_bg_colour_hover_gradient_start: @navbar_menu_bg_colour_hover;
@navbar_menu_bg_colour_hover_gradient_stop: #FFFFFF;

@navbar_menu_bg_colour_active_gradient_start: @navbar_menu_bg_colour_hover_gradient_start;
@navbar_menu_bg_colour_active_gradient_stop: @navbar_menu_bg_colour_hover_gradient_stop;

@navbar_menu_bg_colour_active_hover_gradient_start: @navbar_menu_bg_colour_active_gradient_start;
@navbar_menu_bg_colour_active_hover_gradient_stop: @navbar_menu_bg_colour_active_gradient_stop;

@navbar_menu_bg_colour_dropdown_gradient_start: @navbar_menu_bg_colour_gradient_start;
@navbar_menu_bg_colour_dropdown_gradient_stop: @navbar_menu_bg_colour_gradient_stop;

@navbar_menu_bg_colour_dropdown_hover_gradient_start: @navbar_menu_bg_colour_active_gradient_start;
@navbar_menu_bg_colour_dropdown_hover_gradient_stop: @navbar_menu_bg_colour_active_gradient_stop;

// Padding for the navbar title when the menu is collapsed.
@navbar_header_brand_padding: 15px 10px; 

// Margins for the navbar button when the menu is collapsed.
@navbar_header_toggle_margin: 10px;
@navbar_header_toggle_margin_xs: 10px;

// Extend the left padding on the first element to sync margins.
@navbar_menu_item_first_child_offset: (@grid-gutter-width-sub-xs / 2);
@navbar_menu_item_first_child_offset_xs: (@grid-gutter-width-xs / 2);
@navbar_menu_item_first_child_offset_sm: (@grid-gutter-width-sm / 2);
@navbar_menu_item_first_child_offset_md: (@grid-gutter-width-md / 2);
@navbar_menu_item_first_child_offset_lg: (@grid-gutter-width-lg / 2);

// Padding for the navbar items.
// These paddings are used when the menu is collapsed.
@navbar_menu_item_padding: 15px (@grid-gutter-width-sub-xs / 2);				
@navbar_menu_item_padding_xs: 15px 11px; //(@grid-gutter-width-xs / 2);

// These paddings are used when the menu is expanded.
@navbar_menu_item_padding_sm: 15 11px;
@navbar_menu_item_padding_md: 15px 20px 15px 20px;
@navbar_menu_item_padding_lg: @navbar_menu_item_padding_md;

// Rules for the menu text. 
@navbar_menu_text_font_family: @font-family-special;
@navbar_menu_text_font_size: 16px;
@navbar_menu_text_font_weight: 600;

@navbar_menu_text_font_size_xs: 16px;											// Default T1 : 14px
@navbar_menu_text_font_size_sm: 16px;											// Default T1 : 14px
@navbar_menu_text_font_size_md: 16px;											// Default T1 : 14px
@navbar_menu_text_font_size_lg: 16px;											// Default T1 : 14px

@navbar_menu_text_transform: uppercase;
@navbar_menu_text_colour: #FFFFFF;
@navbar_menu_text_colour_hover: #b20838;
@navbar_menu_text_colour_active: @navbar_menu_text_colour_hover;
@navbar_menu_text_colour_active_hover: @navbar_menu_text_colour_active;
@navbar_menu_text_shadow: 1px 1px 1px #5F5F5F;

// Rules for the menu caret.
@navbar_menu_dropdown_caret_colour: @navbar_menu_text_colour;
@navbar_menu_dropdown_caret_colour_hover: @navbar_menu_text_colour_hover;
@navbar_menu_dropdown_caret_colour_active: @navbar_menu_text_colour_active;
//------------------------------------------------------------------------------


.navbar
{
	min-height: @navbar_min_height;
	@media (min-width: @screen-xs) { min-height: @navbar_min_height_xs; }
	@media (min-width: @screen-sm) { min-height: @navbar_min_height_sm; }
	@media (min-width: @screen-md) { min-height: @navbar_min_height_md; }
	@media (min-width: @screen-lg) { min-height: @navbar_min_height_lg; }
	
	margin-left: @navbar_margin_left;
	margin-right: @navbar_margin_right;
	margin-bottom: 0;
    z-index: 999999999;
	
	background: @navbar_menu_bg_colour;
	& when (@navbar_menu_bg_use_gradient = true)
	{
		.gradient(@navbar_menu_bg_colour_gradient_start, @navbar_menu_bg_colour_gradient_stop, @navbar_menu_bg_colour_gradient_direction);
	}
	& when (@navbar_menu_bg_use_image = true)
	{
		background-image: url(@navbar_menu_bg_image);
	    background-repeat: repeat-x;
	}
	& when (@navbar_use_box_shadow = true)
    {
    	box-shadow: @navbar_box_shadow;
    }
	
	border-radius: 0px; 
    border: none;
    border-bottom: @navbar_bottom_border_height solid @navbar_bottom_border_color;
    
    // Text size.
    @media (min-width: @screen-xs) { font-size: @navbar_menu_text_font_size_xs; }
	@media (min-width: @screen-sm) { font-size: @navbar_menu_text_font_size_sm; }
	@media (min-width: @screen-md) { font-size: @navbar_menu_text_font_size_md; }
	@media (min-width: @screen-lg) { font-size: @navbar_menu_text_font_size_lg; }
    
	.navbar-header 
	{
		text-align: left;
		//box-shadow: inset 0 5px 9px 0 rgba(0,0,0,0.39);
		.navbar-brand 
		{ 
			padding: @navbar_header_brand_padding;
			display: none;
		    @media (max-width: @grid-float-breakpoint -1)
		    { 
				display: block;
				font-family: @navbar_menu_text_font_family;
				color: #FFFFFF !important;
		    }
		}
		.navbar-toggle 
		{ 
			margin-left: 8px;
			outline: none; 
			float: none;
			border-color: @navbar_menu_text_colour;
			 
			margin-right: @navbar_header_toggle_margin;
			@media (min-width: @screen-xs) { margin-right: @navbar_header_toggle_margin_xs; }
		}
	}
	.navbar-collapse 
	{ 
		padding-left: 0px;
		padding-right: 0px; 
		
		& when (@navbar_collapse_use_border = true) { border: @navbar_collapse_border; }
		& when (@navbar_collapse_use_border = false) { border-top: none; }
		& when (@navbar_collapse_use_box_shadow = true) { box-shadow: @navbar_collapse_box_shadow; }
	    & when (@navbar_collapse_use_box_shadow = false) { box-shadow: none; }
		
		font-family: @navbar_menu_text_font_family; 
    	font-weight: @navbar_menu_text_font_weight;
    	font-size: @navbar_menu_text_font_size; 
    	text-transform: @navbar_menu_text_transform;		
		.navbar-nav 
		{
    		margin: @navbar_nav_margin;
    		
    		&>li
    		{
    			// Transition effects.
    			& when (@navbar_menu_bg_colour_transition = true)
				{
					transition: all @navbar_menu_bg_colour_transition_speed;
					-moz-transition: all @navbar_menu_bg_colour_transition_speed;
					-webkit-transition: all @navbar_menu_bg_colour_transition_speed;
					-o-transition: all @navbar_menu_bg_colour_transition_speed;
				}
    			
    			// Extend the left padding on the first element to sync margins.
    			&:first-child 
    			{ 
    				a
    				{
    				padding-left: @navbar_menu_item_first_child_offset;
    				@media (min-width: @screen-xs) { padding-left: @navbar_menu_item_first_child_offset_xs; }
					@media (min-width: @screen-sm) { padding-left: @navbar_menu_item_first_child_offset_sm; }
					@media (min-width: @screen-md) { padding-left: @navbar_menu_item_first_child_offset_md; }
					@media (min-width: @screen-lg) { padding-left: 30px; }
    			}
    			}
    			&:hover
    			{
    				background-color: @navbar_menu_bg_colour_hover; 
    				& when (@navbar_menu_bg_use_gradient = true)
					{
						.gradient(@navbar_menu_bg_colour_hover_gradient_start, @navbar_menu_bg_colour_hover_gradient_stop, @navbar_menu_bg_colour_gradient_direction);
					}
    			}
    			
    			&>a
	    		{
	    			padding: @navbar_menu_item_padding;
					@media (min-width: @screen-xs) { padding: @navbar_menu_item_padding_xs; }
					@media (min-width: @screen-sm) { padding: @navbar_menu_item_padding_sm; }
					@media (min-width: @screen-md) { padding: @navbar_menu_item_padding_md; }
					@media (min-width: @screen-lg) { padding: @navbar_menu_item_padding_lg; }
	    			
	    			color: @navbar_menu_text_colour;
	    			line-height: 10px;
	    			& when (@navbar_menu_text_use_text_shadow = true) { text-shadow: @navbar_menu_text_shadow; }
	    			&:hover { color: @navbar_menu_text_colour_hover; }
	    		}
	    		
	    		// Rules for the active element.
	    		// -------------------------------------------------------------
	    		&.active
	    		{
	    			background: @navbar_menu_bg_colour_active;
	    			& when (@navbar_menu_bg_use_gradient = true)
					{
						.gradient(@navbar_menu_bg_colour_active_gradient_start, @navbar_menu_bg_colour_active_gradient_stop, @navbar_menu_bg_colour_gradient_direction);
					}
				    
				    &:hover 
				    { 
				    	color: @navbar_menu_text_colour_active_hover;
				    	background-color: @navbar_menu_bg_colour_active_hover; 
				    	& when (@navbar_menu_bg_use_gradient = true)
						{
							.gradient(@navbar_menu_bg_colour_active_hover_gradient_start, @navbar_menu_bg_colour_active_hover_gradient_stop, @navbar_menu_bg_colour_gradient_direction);
						}
				    }
				    
				    &>a 
				    { 
				    	color: @navbar_menu_text_colour_active;
				    	background: @navbar_menu_bg_colour_active;
				    	background: transparent;
				    }
	    		}
	    		// -------------------------------------------------------------
	    		
	    		// Rules for the drop down elements.
				// -------------------------------------------------------------
	    		&.dropdown
	    		{
	    			a 
	    			{
	    				.caret
	    				{
	    					border-top-color: @navbar_menu_dropdown_caret_colour;
							border-bottom-color: @navbar_menu_dropdown_caret_colour;
	    				}
	    				&:hover
	    				{
	    					.caret
	    					{
	    						border-top-color: @navbar_menu_dropdown_caret_colour_hover;
								border-bottom-color: @navbar_menu_dropdown_caret_colour_hover;
	    					}
	    				}
	    			}
				
				    &.active
				    {
				    	.caret
				    	{
				    		border-top-color: @navbar_menu_dropdown_caret_colour_active;
							border-bottom-color: @navbar_menu_dropdown_caret_colour_active;
				    	}
				    }
					
	    			&.open 
	    			{
	    				&>a
	    				{
	    					color: @navbar_menu_text_colour_hover;
		    				background-color: @navbar_menu_bg_colour_hover; 
		    				& when (@navbar_menu_bg_use_gradient = true)
							{
								.gradient(@navbar_menu_bg_colour_dropdown_gradient_start, @navbar_menu_bg_colour_dropdown_gradient_stop, @navbar_menu_bg_colour_gradient_direction);
							}
							.caret
							{
								border-top-color: @navbar_menu_dropdown_caret_colour_active;
								border-bottom-color: @navbar_menu_dropdown_caret_colour_active;
							}
	    				}
	    				&>ul.dropdown-menu
	    				{
	    					background: @navbar_menu_bg_colour_dropdown;
	    					&>li>a
	    					{	
		    					& when (@navbar_menu_bg_colour_transition = true)
								{
									transition: all @navbar_menu_bg_colour_transition_speed;
									-moz-transition: all @navbar_menu_bg_colour_transition_speed;
									-webkit-transition: all @navbar_menu_bg_colour_transition_speed;
									-o-transition: all @navbar_menu_bg_colour_transition_speed;
								}
			
				    			padding: 17px 42px;
								@media (min-width: @screen-sm) { padding: 17px 20px; }
								@media (min-width: @screen-md) { padding: 17px 25px; }
				    			
				    			color: @navbar_menu_text_colour;
				    			line-height: 10px;
				    			& when (@navbar_menu_text_use_text_shadow = true)
				    			{
				    				text-shadow: @navbar_menu_text_shadow;
				    			}
				    			&:hover 
				    			{ 
				    				color: @navbar_menu_text_colour_hover;
				    				background-color: @navbar_menu_bg_colour_dropdown_hover; 
				    				& when (@navbar_menu_bg_use_gradient = true)
									{
										.gradient(@navbar_menu_bg_colour_dropdown_hover_gradient_start, @navbar_menu_bg_colour_dropdown_hover_gradient_stop, @navbar_menu_bg_colour_gradient_direction);
									}
				    			}
	    					}
	    					&>li.active>a
				    		{
				    			color: @navbar_menu_text_colour_active;
								background-color: @navbar_menu_bg_colour_active;
				    		}
	    				}
	    			}
	    		}
				// -------------------------------------------------------------
    		}
		}
	}
}
.submenucontainer {

  > ul > li.active > a {
    color:#4c4c4c !important;
  }

  > ul > li.active.current > a {
    color:#b20838 !important;
  }


  > ul > li > .sub-menu > li {
    //First submenu
    padding-left:0;
  }
  ul {


      &.sub-menu { display:none; }

      list-style: none;
      padding: 14px 0;
      margin:0;

    li {
      line-height: 33px;
      a {
        position:relative;
        display: inline-block;
        padding-left:20px;
        text-decoration: none;
        color: #4c4c4c;
        width: 100%;
        &.active {

        }

        &:before {
          font-family: FontAwesome;
          content: '\f111';
          position: absolute;
          font-size: 5px;
          left: 7px;
          top: 1px;
        }
      }
      &.active {
        > .sub-menu { display:block; }
        > a {
          color:#b20838;
        }
      }
      &.active.current > a {
        background-color: #f4f4f4;
      }
    }

    ul {
      padding:0;
      li {
        padding-left:20px;
      }
    }

  }
  /*
  .submenu {
    margin:0;
    padding:0;
    list-style: none;
    li {
      margin:0;
      padding: 10px 0 10px 16px;
      position:relative;

      &:last-child{
        border:none;
      }

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: @accent_colour;
        display: block;
        position: absolute;
        top: 18px;
        left: 0;
      }


      a {
        color:#000;
        &:hover,&:active,&:visited { color:#000; text-decoration: none; }
        &.active {
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
  */
}