p.demo_store {
	font-size: 1.5em !important;
}

.dibs_brand_assets {
  @media(max-width: (@grid-float-breakpoint - 1)){
    margin: 14px auto 0;
    text-align: center;
  }
  @media(min-width:@grid-float-breakpoint){
    position:absolute;
    bottom:40px;
  }

}

body.archive.tax-product_cat .term-description {
	display: none;
}

.woocommerce-checkout #payment ul.payment_methods li img {
  height:auto;
}

body.woocommerce .container.subpage .subContent,
body.woocommerce-page .container.subpage .subContent,
body.woocommerce-page .subBorderLeft,
body.woocommerce .subBorderLeft,
body.search .subBorderLeft,
body.nyheter .subBorderLeft,
body .subpage .subContent .woocommerce {


	//padding: 0;
	//@media(min-width: @screen-sm) { padding: 0 26px 0 5px; }



	h1.page-title {display:none;}
	.woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		@media(max-width: @screen-xs-max){ float:none; }
	}

    a.button.alt, button.button.alt, input.button.alt, #respond input#submit.alt {
      color:#fff;
      font-weight: normal;
    }


	.woocommerce-ordering .orderby:focus {
		border-color: @accent_colour;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px fade(@accent_colour,60%);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px fade(@accent_colour,60%);
	}


	//Paypal stylefix
	.woocommerce #payment .payment_method_paypal .about_paypal, .woocommerce-page #payment .payment_method_paypal .about_paypal {
		float: right;
		line-height: inherit;
		font-size: inherit;
		margin-left: 9px;
	}

	.wc-order-data-row label { color:#000; }

	.woocommerce {
		p.myaccount_user, p.myaccount_address {
			margin-bottom:30px;
		}

		h3, h3 label {
			font-size:18px; margin-bottom: 5px;
			&.checkbox {
				display: inline;
				margin:0;
				min-height: 0;
				height:auto;
				padding: 0;
				vertical-align: inherit;

			}
			input { margin-top:3px;}
			&#ship-to-different-address {
				@media(max-width: @screen-xs-max){ margin-top:20px; }
			}
			&#order_review_heading { margin-bottom:13px; }
		}

		.cart-collaterals{
			.cross-sells { display:none; }
			.cart_totals {
				width:100%;
				table th { width:auto; }
			}
		}

		form {



			.woocommerce-shipping-fields, #order_review_heading { padding-top:30px; }


			input[type=text],textarea {
				-webkit-border-radius: 2px;
				border-radius: 2px;
				border: 1px solid #d1d1d1;
				padding:6px 5px 3px;


			}
			.button {
				text-shadow: none;
				font-weight:200;
			}

			@media(min-width:@screen-sm) and (max-width:@screen-sm-max){
				input[type=submit]{
					float: right;
					&.checkout-button { margin-top:4px; }
				}
			}

			.form-row label {
				line-height: 1.5em;
				font-weight: 400;
			}

			.woocommerce-invalid input[type=text] {
				border-color: #e6a4a4;
			}
		}


		.woocommerce-pagination {
			ul {
				border-color:@body_border_color;
			}
		}


	}

    form.woocommerce-ordering {display: none;}
	h2.woocommerce-result-count {
      display: none;
		padding-left: 9px;
		font-size:15px;
		font-weight:200;
		line-height: 33px;
		border-left:7px solid @navbar_menu_bg_colour;
		margin-bottom: 30px;
	}


	.woocommerce-message, .woocommerce-info {
		border-color: @accent_colour;

        /*
		&:before {
			background-color:@accent_color;
			color: #fff;
			line-height: 1px;
			padding-top: 10px;
		}
		*/
	}


	.woocommerce-error {

        /*
        &:before {
			color: #fff;
			line-height: 1px;
			padding-top: 10px;
		}
		*/
	}


	table.shop_table td, table.shop_table th {
		@media(max-width:@screen-xs-max){
			font-size: 10px;
			padding-left:10px;
			padding-right:10px;
		}
	}
	table.cart a.remove {

        /*
		color:@accent_color;
		line-height: 17px;
		@media(max-width:@screen-xs-max){ line-height: 13px; }
		*/

		&:hover{
			color:#fff;
			background-color:@accent_colour;
		}

		transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;
		-moz-transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;
		-webkit-transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;
		-o-transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;


	}


	.product {
		span.onsale {
			top: 5px;
			left: 10px;
			padding: 8px 4px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			background: @accent_colour;
			background: -webkit-gradient(linear,left top,left bottom,from(@accent_colour),to(darken(@accent_colour,20%)));
			background: -webkit-linear-gradient(@accent_colour,darken(@accent_colour,20%));
			background: -moz-linear-gradient(center top,@accent_colour 0,darken(@accent_colour,20%) 100%);
			background: -moz-gradient(center top,@accent_colour 0,darken(@accent_colour,20%) 100%);
		}
	}


	.products
	{
		/*############## Produktlista ##############*/

        /* Special gutter på produktlist */
        margin-left:-10px;
        margin-right:-10px;

        .col-xs-6, .col-sm-3 {
          padding-left: 10px;
          padding-right: 10px;
        }


		.product.fullwidth { @media(max-width:400px){ width:100%; } }


		//.product-category.product img { display:none; }


		div.product{
			margin-bottom: 30px !important;



			a {
				text-decoration: none;

              .imagewrapper {
                text-align:center;
                background-image: url(../img/list-image-background.jpg);
                border:1px solid @body_border_color;
                img {
                  max-width:100%;
                  display: inline-block;
                  padding: 10px 0;
                }
              }


				h3 { font-size:13px; color:#b51240; text-align:center; padding-top:20px; margin-bottom: 6px; display: block; height: 45px; }
                .exerpt {
                  font-size:13px;
                  color:#494949;
                  text-align:center;
                  min-height: 130px;
                }
				.price {
					font-family: @font-family-special;
					display: block;
					color:@accent_colour !important;
					border-bottom:1px solid @body_border_color;
					padding-bottom: 10px;
					margin-bottom: 9px;
					del { color:#ccc !important; }
					ins { color:inherit; text-decoration: none !important; font-weight: normal;}
				}

				//Inga stjärnor i listorna
				.star-rating { display:none; }
			}
			button.button{

			}
		}


	}





	/*############## Enskild produkt #############*/


	div[id^='product-']{
		h1.product_title{ display:none; }
		div.images {
            float:none;
            width: 100%;
			img{
				box-shadow: none;
				-webkit-box-shadow: none;
				width: 100%;
				border: none;
			}

			.woocommerce-main-image{}
			.thumbnails {
				a { margin-bottom:14px; }
			}

		}

        .summary {
          .quantity {
            .qty {
              height: 31px;
            }
          }
        }

      

	  button.button{
        color:#FFF !important;

		&:hover{
		  color:#FFF !important;
		}
	  }



		p.price {
			font-family: @font-family-special;
            color:@accent_colour;
            font-size: 25px;
			ins {
				text-decoration: none;
			}
		}

		td.label {
			color:inherit; border-bottom:0;
			vertical-align: -webkit-baseline-middle;
			label {}
		}

		.woocommerce-tabs{
			ul.tabs {
                display:none;
				li {
					@media(max-width:420px){
						padding: 0 0.8em;
						font-size:11px;
					}
				}
			}
            div.panel {
              webkit-box-shadow:none;
              -moz-box-shadow: none;
              box-shadow: none;

            }
		}

		.related.products {
			.products .product:last-child{
				@media(max-width:@screen-xs-max){ display:none; }
			}
		}


	}


}




//Rating

.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
	font-family:"FontAwesome";
	content: "\73\73\73\73\73";
	content:"\f08a\f08a\f08a\f08a\f08a";
	color: lighten(@accent_colour,20%);
	text-indent: 2px;
	line-height: 15px;
}

.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
	font-family:"FontAwesome";
	content: "\f004\f004\f004\f004\f004";
	color:@accent_colour;
	text-indent: 2px;
	line-height: 15px;
}

















/*############# Shop sidebar Meny/sök et.c ##############*/
.shop-sidebar {
	.view-btn {display: none;}

	@media(max-width:@screen-xs-max){
		-webkit-box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
		box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
		position: absolute;
		top: -51px;
		background: #fff;
		right: 0px;
		width:auto;
		border: 1px solid @body_border_color;
		border-right: 0;
		padding:10px 0px;
		z-index:3;


		.showcases {
			margin:0;
			margin-left:15px;
			margin-right: 7px;
			width:228px;
			overflow-x:hidden;
			transition:all 0.3s cubic-bezier(.71,.08,0,1.44);
			-webkit-transition:all 0.3s cubic-bezier(.71,.08,0,1.44);
			-moz-transition:all 0.3s cubic-bezier(.71,.08,0,1.44);
			-o-transition:all 0.3s cubic-bezier(.71,.08,0,1.44);

			&.collapsed {
				width:3px;
				transition:all 0.2s ease-in-out;
				-webkit-transition:all 0.2s ease-in-out;
				-moz-transition:all 0.2s ease-in-out;
				-o-transition:all 0.2s ease-in-out;
				margin:0;
			}

			.shop-cat-menu {
				width:228px;
                @media(max-width: @screen-xs-max){
                  padding-top: 12px;
                  padding-bottom: 8px;
                  padding-left: 0;
                }
				.widget.woocommerce .widgettitle {
					line-height: 21px;
					border-left: 3px solid @navbar_menu_bg_colour;
				}


			}
		}
		.view-btn {
			display:block;
			position:absolute;
			width:52px;
			border:1px solid @body_border_color;
			border-right:0;
			top:-1px;
			left:-52px;
			background: #fff;
			//text-indent: 5px;
			font-size: 25px;
			padding: 3px 0 4px;
			color:@navbar_menu_bg_colour;
			-webkit-box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
			box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
			border-radius: 4px 0 0 4px;
			.fa { margin-left: 10px; }
		}
	}

}

.widget-ul {
	list-style: none;
	padding:0;
	margin:0;
	a {
		text-decoration: none; color:@body_text_colour;
		&:hover { color:#333; }
	}


  .widget.woocommerce{

    margin-bottom:30px;

    .widgettitle {
      display:none;
      padding-left: 9px;
      margin-left:3px;
      font-size:15px;
      font-weight:200;
      line-height: 33px;
      border-left:7px solid @navbar_menu_bg_colour;
      margin-bottom: 19px;
    }

    input[type=text],input[type=search]{ width:65%; text-indent:5px; border-radius:3px; border-width: 1px; outline-color: @accent_colour; padding: 1px 0; }
    input[type=submit]{
      width:30%;
      background-color: @accent_colour;
      color:#FFF;
      border:0;
      padding: 3px 0;
    }
    label.screen-reader-text { display:none; }
  }


    ul.product-categories {
      li {
        display:none !important;
        &.current-cat, &.current-cat-parent {
          display:block !important;
          li {
            display:block !important;
          }
        }
      }
    }


    ul {
      list-style: none;
      padding: 14px 0 0 0px;
      margin:0;

      li {
        a {
          position:relative;
          display: inline-block;
          padding-left:20px;
           &:before {
             font-family: FontAwesome;
             content: '\f111';
             position: absolute;
             font-size: 5px;
             left: 7px;
             top: 1px;
           }
        }
      }

      ul {
        padding:0;
        li {
          padding-left:20px;
        }
      }

    }

    ul.product-children {
      margin-top:2px !important;
      li {
        a {
          position:relative;
          display: inline-block;
          padding-left:14px;
          &:before {
            font-family: FontAwesome;
            content: '\f068';
            position: absolute;
            font-size: 6px;
            left: 2px;
            top: 2px;
          }
        }
        &.current-product {
          background-color: #f4f4f4;
          a { color:#b20838; }
        }
      }
    }

	.product-categories {
		li {
			line-height: 33px;
            font-weight: 600;
			&:last-child { border:none; }

            ul li {
              font-weight: 400;
              &.current-cat {
                > a {
                  display:block;
                  margin-left:-20px;
                  padding-left:40px;
                  color:#b20838;
                  background-color: #f4f4f4;
                  &:before{
                    left: 27px;
                  }
                }
              }
            }


			&.cat-parent ul {
				margin-top: -5px;
				margin-bottom: 7px;
                .children { margin-top:0; }
				li {
					position:relative;
					border:none;
                    line-height: 33px;

				}
			}
		}
	}


}

body.single-product {
  .product-categories {
    li {
      ul li {
        &.current-cat {
          > a {
            background-color: transparent;
          }
        }
      }
    }
  }
}





/* Paginering */

.woocommerce nav.woocommerce-pagination, .woocommerce #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination {

	text-align: left;
	@media(max-width:@screen-xs-max){ text-align: center; }
	ul {
		li a,li span{
			background: #FFF;
			color: @accent_colour;

		}

		li span.current,li a:hover,li a:focus {
			background: @navbar_menu_bg_colour;
			color: #fff;

		}
	}
}






/*########## Varukorg ###########*/
.cart-contents{
  float:right;
  position: relative;
  margin-top: 6px;
	/*
	width:30px;
	height:30px;
	background-image:url(../img/cart-icon.png);
	background-repeat:no-repeat;
	background-size:30px 26px;
	*/
	@media(min-width:@screen-sm){}
	span {
		display:block;
		position:absolute;
		right: 3px;
		top: -6px;
		background: @accent_colour;
		background: -webkit-gradient(linear,left top,left bottom,from(@accent_colour),to(darken(@accent_colour,20%)));
		background: -webkit-linear-gradient(@accent_colour,darken(@accent_colour,20%));
		background: -moz-linear-gradient(center top,@accent_colour 0,darken(@accent_colour,20%) 100%);
		background: -moz-gradient(center top,@accent_colour 0,darken(@accent_colour,20%) 100%);
		border:0px solid #333;
		border-radius: 8px;
		min-height: 12px;
		min-width: 12px;
		font-size: 10px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		padding: 2px 6px 2px;
	}
}
.added_to_cart.wc-forward { display:none !important; }

