@import 'page_editor.less';

body.timelab-cms {
  @import 'bootstrap/bootstrap.less';
  @import 'datepicker/datepicker.less';
  @import 'toastr/toastr.less';
  @import 'variables.less';
  @import 'login.less';
  @import 'footer.less';
  @import 'facility_editor.less';
  @import 'settings_page.less';
  @import 'page_list.less';
  @import 'menu_editor.less';
  @import 'slider_editor.less';
  @import 'sortable_list.less';
  @import 'gallery_editor.less';
  @import 'options.less';

  &, html {
    height: 100%;


    //woocommerce labelfix
    #woocommerce-order-items {
      td.label {
        color: #000;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  .timelab-cms .hidden {
    display: none !important;
  }

  .container-fluid {
    input[type=checkbox] {
      margin: 0 6px 1px 0;
    }
    h1 { font-size: 30px; }
    h2 { font-size: 20px; }
  }

  textarea {
    resize: none;
  }

  .clear {
    clear: both;
  }

  .container-fluid {
    padding-bottom: 40px;
    padding-right: 40px;
  }

  .img-preview {
    max-width: 128px;
    max-height: 128px;
    margin: 5px 0;
  }

  #wpcontent {
    @media(min-width: @screen-md) { margin-left: 220px !important; }
  }

  #wpfooter {
    margin: 0 !important;
  }

  #collapse-menu, #welcome-panel {
    display: none !important;
  }

  // Fixar panelinställningar
  #screen-options-wrap, #contextual-help-wrap {
    position: fixed;
    top: 7px;
  }

  .error {
    input& {
      border-color: #F00 !important;
    }

    label& {
      color: #F00;
    }
  }

  // Puffar
  .puff {
    margin-bottom: 10px;

    .puff-content {
      display: block;
      background-color: @primary-color;
      padding: 10px;
      border: 1px solid darken(@primary-color, 25%);
      //height: 135px;
      width: 100%;

      h2 {
        text-align: center;
      }
    }

    &.quick-link .puff-content {
      border-color: @btn-success-border;
      background-color: @btn-success-bg;
      color: @btn-success-color;
      padding: 20px 0;
      font-size: 24px;
      text-align: center;

      p {
        font-size: 12px;
        margin: 5px 0 0 0;
        padding: 0;
        max-height: 16px;
      }

      &:hover {
        background-color: darken(@btn-success-bg, 5%);
        text-decoration: none;
      }
    }

    &.list {
      h2 {
        margin: 0;
      }

      .puff-content {

        .header {
          min-height: 35px;
          overflow-y: hidden;
        }

        background-color: @primary-color;
        padding: 10px;
        border: 1px solid darken(@primary-color, 25%);
        height: 135px;
      }

      &.new .puff-content {
        cursor: pointer;
        border-style: dashed;
        h2 {
          text-align: center;
          margin-top: 135px/3;
          color: #000;
        }
      }
    }
  }

  .panel-branded {

    .admin-menu-border();

    & > .panel-heading {
      background-color: @brand-color;
      color: #fff;
    }

    & > .panel-body {
      background-color: @primary-color;
    }
  }

  #slider-image-list li {

    @fade-time: 0.5s;

    .panel-heading {
      transition: opacity @fade-time;
    }

    .slider-image {
      position: relative;

      .glyphicon {
        opacity: 0;
        transition: opacity @fade-time;
        position: absolute;
        top: 30%;
        left: 40%;
        font-size: 64px;
        display: block;
        z-index: 1;
        color: #000;
      }

      img {
        transition: opacity @fade-time;
      }
    }

    &.removed {
      .slider-image .glyphicon {
        opacity: 1;
      }

      .panel-heading {
        opacity: 0.5;
      }

      img {
        opacity: 0.5;
      }

    }

    .drag-handle {
      display: block;
      float: left;
      //font-size: 32px;
      width: 100%;
      heigth: 25px;
      cursor: pointer;
    }

    .panel-body {
      padding: 43px 5px 5px 5px;
    }

    &.placeholder {
      background-color: transparent;
    }

    .btn {
      margin-top: 5px;
    }

    textarea {
      resize: none;
      width: 100%;
    }

    background-color: @primary-color;
  }

  .sidemenu {
    @media(min-width: @screen-md) {
      position: fixed;
      right: 0;
      padding-left: 65px;
    }
  }

  .dirty {
    background-image: url('../img/dirty.png') !important;
    background-position: top left !important;
    background-repeat: no-repeat !important;
    background-size: 8px 8px !important;
  }

  #toast-container {
    top: 42px;
  }

  #description {
    & > .container {
      margin: 0;
      max-width: none;
    }
  }

  //Pods fix
  .pods-file.hidden { display:block !important; visibility: visible!important; }

  li.list-item {
    margin: 5px 0;
    display: block;
    background-color: darken(@primary-color, 2.5%);
    border: 1px solid darken(@primary-color, 20%);
    padding: 5px;

    & > .glyphicon {
      color: @brand-color;
    }

    h2 {
      margin: 12px;
    }
  }
}
