.timelab_cms_facility, .timelab_cms_Contact {

  textarea {
    height: 200px;
  }

  .panel .container {
    padding: 10px 10px;
  }

  #address-map-container {
    height: 250px;
  }

  .panel-heading {
    background-color: @primary-color;
    text-decoration: none;
    display: block;

    h2 {
      color: @text-color;

      & > .glyphicon {
        color: @brand-color;
      }
    }

    &:hover {
      background-color: lighten(@primary-color, 2.5%);
    }
  }

  #facility-contact-list {
    list-style: none;
  }

  #facility-social-list {
    list-style: none;
  }

  .person_image {
    margin-bottom: 16px;
  }
}