
.timelab_cms_menu, .timelab_cms_Page {

  li.mjs-nestedSortable-branch.mjs-nestedSortable-collapsed > ol {
    display: none;
  }

  li.mjs-nestedSortable-branch > ol {
    overflow: hidden;
  }

  .top-menu {

    min-height: 32px;

    background-color: @primary-color;
    padding: 0 5px;
    .admin-menu-border();


    li {
      display: block;
      margin: 7px 0 0 0;
      padding: 0;
    }

    li > div {
      cursor: move;
      margin: 5px 0;
      display: block;
      background-color: darken(@primary-color, 2.5%);
      border: 1px solid darken(@primary-color, 20%);
      padding: 5px;

      & > .glyphicon {
        color: @brand-color;
      }
    }
  }
}