#new-page-modal .modal-dialog {

}

.timelab_cms_pages {
  h2 {
    margin: 0;
  }

  .header {
    min-height: 35px;
    overflow-y: hidden;
  }

  .page {
    margin-bottom: 10px;

    &.new-page .content {
      cursor: pointer;
      border-style: dashed;
      h2 {
        text-align: center;
        margin-top: 135px/3;
        color: #000;
      }
    }

    .content {
      background-color: @primary-color;
      padding: 10px;
      border: 1px solid darken(@primary-color, 25%);
      height: 135px;
    }
  }
}