// Göm permalänk
#edit-slug-box {
  display: none;
}

.puff.page, .puff.new-page {
  .puff-content {
    height: 135px;
  }
}

// Publicera puffen
#timelab_submitdiv, #timelab_editor_box {
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.btn-block {
      display: block;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
    &.btn-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    &.btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    &.btn-sm, .btn-xs {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
    &.btn-primary {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
  }


  background: none;
  border: none;

  .inside {
    margin: 0;
    padding: 0;
  }

  h3, .handlediv {
    display: none;
  }
}

a[href="post-new.php?post_type=page"] {
  display: none;
}