// Färger
@brand-color: #ff6600;
@primary-color: #f7f7f7;
@primary-color-light:#f1f1f1;
@text-color: #656565;

.admin-menu-border() {
  //border-top: 1px solid lighten(@primary-color, 25%);
  //border-bottom: 1px solid darken(@primary-color, 25%);
  border-top:1px solid #ffffff;
  border-bottom:1px solid #ebebeb;
}
