<div class="panel panel-default">
    <a class="panel-heading" data-toggle="collapse" data-parent="#facility-accordion" href="#contact">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-earphone"></span> Kontaktinformation
        </h2>
    </a>
    <div id="contact" class="panel-collapse in" style="height: auto;">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <ol id="facility-contact-list">
                        {% set index = 0 %}

                        {% for contact_detail in facility.contact_details %}
                            {% include 'Contact/ContactInfoField.twig' with contact_detail %}
                            {% set index = index + 1 %}
                        {% endfor %}

                        {% for i in index..2 %}
                            {% include 'Contact/ContactInfoField.twig' %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>