<li class="sort-disabled">
    <div>
        <input type="hidden" name="{{ (object_type) ? object_type ~ '_' : '' }}social_details_id[]" value="{{ id }}">

        <div class="col-sm-6">
            <select class="form-control" name="{{ (object_type) ? object_type ~ '_' : '' }}social_details_type[]" placeholder="Typ">

                {% for field_type, field_name in social_detail_types %}
                    <option {{ (type == field_type) ? 'selected' : '' }} value="{{ field_type }}">{{ field_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-6">
            <input type="text" class="form-control input-sm" name="{{ (object_type) ? object_type ~ '_' : '' }}social_details_value[]" placeholder="Värde" value="{{ value }}">
        </div>

        <div class="clear"></div>
    </div>
</li>