<div class="panel panel-default">
    <a class="panel-heading" data-toggle="collapse" data-parent="#facility-accordion" href="#social">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-globe"></span> Social information
        </h2>
    </a>
    <div id="social" class="panel-collapse in" style="height: auto;">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <ol id="facility-social-list">
                        {% set index = 0 %}

                        {% for social_detail in facility.social_details %}
                            {% include 'Contact/SocialInfoField.twig' with social_detail %}
                            {% set index = index + 1 %}
                        {% endfor %}

                        {% for i in index..2 %}
                            {% include 'Contact/SocialInfoField.twig' %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>