<div class="modal fade" id="new-link-modal">
    <div class="modal-dialog">
        <form action="{{ create_link_url }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
                    <h4 class="modal-title">Lägg till länk</h4>
                </div>

                <div class="modal-body">
                    <h2>Länkrubrik</h2>
                    <input class="form-control required" placeholder="Google"  name="title" type="text" />

                    <h2>Länkaddress</h2>
                    <input class="form-control required" placeholder="http://google.com" name="href" type="text" />

                    <h2>Öppna länk i</h2>
                    <select class="form-control required" name="target">
                        <option value="_blank">Ny flik</option>
                        <option value="_self">Samma flik</option>
                    </select>

                    <h2>Meny</h2>
                    <select class="form-control required" name="menu">
                        {% for menu in menus %}
                            {% if menu.id > 0 %}
                                <option value="{{ menu.id }}">{{ menu.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" aria-hidden="true">Avbryt</button>
                    <input type="submit" class="btn btn-success btn-lg" value="Lägg till länk">
                </div>
            </div>
        </form>
    </div>
</div>



