<ul>
    <li>
        <button class="btn btn-block btn-primary btn-sm" href="{{ site_url }}" target="wp-preview" id="post-preview">
            <span class="glyphicon glyphicon-search"></span> Förhandsgranska ändringar
        </button>

        <input class="hidden" name="wp-preview" id="wp-preview" value="Förhandsgranska ändringar">
    </li>

    <li>
        <button name="save" type="submit" id="save" accesskey="p" class="btn btn-block btn-success btn-lg">
            <span class="glyphicon glyphicon-check"></span>
            Spara ändringar
        </button>
    </li>

    <li>
        <label class="col-sm-3 control-label" for="page_template">Sidmall</label>
        <div class="col-sm-9">
            <select class="form-control" name="page_template" id="page_template">
                {% for template in templates %}
                <option {{ template.selected ? 'selected' : '' }} value="{{ template.file }}">{{ template.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="clear"></div>
    </li>
</ul>